<div ng-app="viewts">
    <div ng-controlller="viewtsCtrl">
        <div class="row header-title">
            <div class="col-md-10">
                <h4>Timesheets</h4>
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                    + Create Timesheet
                </button>
            </div>
        </div>

        <div class="row header-body">
            <div class="search col-md-12">
                <div class="row custom-row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Employee</span>
                            <select id="employee" name="employee" class="form-control">
                                <option value="0">Select</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Session</span>
                            <select id="session" name="session" class="form-control">
                                <option value="0">Select</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option selected value="2020">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Months</span>
                            <select id="month" name="status" class="form-control">
                                <option selected value="0">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Status</span>
                            <select id="status" name="status" class="form-control">
                                <option selected value="All">All</option>
                                <option value="1">Old / Active</option>
                                <option value="0">Rejected</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a routerLink="/dashboard/viewts"><button class="btn btn-primary btn-block"
                                (click)="loadList()">View</button></a>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="container">
                <span id="reportsOf">
                    <div class="alert alert-warning">
                        Select above details to get data...
                    </div>
                </span>
                <div id="output4"></div>
                <div id="output5"></div>
            </div>
        </div>

        <div id="weekly_reports" *ngIf="loadData != null" class="container-fluid">
            <div class="row timesheet_records" *ngFor="let data of loadData">
                <div class="col-md-2" style="border-right: 1px dashed #ccc;">
                    Week starts from <br><strong>{{data.display_date}}</strong>
                </div>

                <!-- Outer Timesheet Dataview -->
                <div class="col-md-9" style="padding-bottom: 10px;height:50px;">
                    <div class="row custom-row">
                        <div class="col-md-6" style="padding-bottom: 5px;overflow: hidden;" *ngFor="let wpData of data.workingDetails">

                            <strong *ngFor="let pList of projectList">
                                <!-- {{wpData.project_id}} -->
                                <span *ngIf="pList.id == wpData.project_id">
                                    {{pList.project_name}}
                                </span>
                            </strong>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 text-right" style="border-left: 1px dashed #ccc;">
                    <button id="btn_week_{{data.id}}" class="btn btn-success btn-sm" (click)="expand_week_view(data.id)" value="0">
                        <span id="span_week_{{data.id}}" class="fa fa-plus-circle"></span>
                    </button>
                </div>

                <div id="detailed_week_view_{{data.id}}" class="detailed_week_view col-md-12">
                    <table class="table table-responsive table-striped table-bordered">
                        <tbody>
                            <tr class="week-row-head">
                                <td>
                                    <div class="container-fluid">
                                        <div class="row custom-row">
                                            <div class="col-md-1">
                                                <h5> Days </h5>
                                            </div>
                                            <div class="col-md-8 custom-row">
                                                <h5> Working </h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5> Non-Working </h5>
                                            </div>
                                            <div class="col-md-1">
                                                <h5> Total </h5>
                                            </div>
                                        </div>

                                        <div class="row custom-row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-8 custom-row">
                                                <div class="col-md-3" style="overflow: hidden;padding-left: 0px;" *ngFor="let wData of data.workingDetails">
                                                    <strong>{{wData.name}}</strong>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr *ngFor="let exData of expandedData">
                                <td>
                                    <div class="container-fluid">
                                        <div class="row custom-row">
                                            <div class="col-md-1" style="overflow: hidden;">
                                                <h6><strong> {{exData.day}} </strong></h6>
                                                <span class="fa fa-adjust fa-lg" *ngIf="exData.status == 2" style="color:red"></span>
                                                <span class="fa fa-adjust fa-lg" *ngIf="exData.status == 1" style="color:#65ea65"></span>
                                                <span class="fa fa-adjust fa-lg" *ngIf="exData.status == 0" style="color:#ded944"></span>
                                            </div>
                                            <div class="col-md-8 text-justify custom-row">
                                                <div class="col-md-3" *ngFor="let wData of exData.working" style="overflow: hidden;padding: 10px;">
                                                    <strong>Hrs. : </strong>{{wData.hrs}}
                                                    <br>{{wData.cmnt}}
                                                </div>
                                            </div>
                                            <div class="col-md-2 text-justify" style="padding: 10px;" *ngFor="let nwData of exData.non_working">
                                                <div *ngIf="nwData.SL != 0">
                                                    <strong>SL:</strong> {{nwData.SL}} Hrs.
                                                </div>
                                                <div *ngIf="nwData.CL != 0">
                                                    <strong>CL:</strong> {{nwData.CL}} Hrs.
                                                </div>
                                                <div *ngIf="nwData.EL != 0">
                                                    <strong>EL:</strong> {{nwData.EL}} Hrs.
                                                </div>
                                                <div *ngIf="nwData.UL != 0">
                                                    <strong>UL:</strong> {{nwData.UL}} Hrs.
                                                </div>
                                                <div *ngIf="nwData.Holiday != 0">
                                                    <strong>Holiday:</strong> {{nwData.Holiday}} Hrs.
                                                </div>
                                                <div *ngIf="nwData.Others != 0">
                                                    <strong> Others: </strong>{{nwData.Others}} Hrs.
                                                </div>
                                                <div *ngIf="nwData.cmnt != ''">
                                                    <strong>Comment:</strong> {{nwData.cmnt}}
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <br><strong>Hrs:</strong> {{exData.total_time}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="row custom-row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <div class="col-md-3" *ngFor="let tHrs of totalProjectHrs" style="overflow: hidden;padding-left: 0px;">
                                                Total: <strong>{{tHrs}}</strong> Hrs.
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width: 100%;margin: auto;">

                <!-- Modal content-->
                <div class="modal-content" style="padding-bottom: 30px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Timesheet</h4>
                    </div><br>
                    <div class="row header-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="search col-sm-10">

                                    <div id="add_project" class="row custom-row">
                                        <button id="btnAddProject" class="btn btn-danger btn-sm" (click)="addProject()" value="0"><span class="fa fa-plus-circle"></span></button>
                                    </div>
                                </div>
                                <div class="col-md-12 container-fluid" style="overflow-x:auto;">
                                    <div class="container-fluid">

                                        <div class="form_head row custom-row">
                                            <div class="col-md-1 text-center"><span>Days</span></div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span>Working</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 text-left">
                                                        <label id="lbl_project1" class="lbl_project label label-warning"></label>
                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <label id="lbl_project2" class="lbl_project label label-warning"></label>
                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <label id="lbl_project3" class="lbl_project label label-warning"></label>
                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <label id="lbl_project4" class="lbl_project label label-warning"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2"><span>Non-Working</span></div>
                                            <div class="col-md-1"><span>Total</span></div>
                                        </div>

                                        <div class="form_details row custom-row" *ngFor="let wDays of weekDays">
                                            <form id="form_{{wDays.day}}">
                                                <!-- onsubmit="saveData(wDays.day);return false" -->
                                                <div class="days col-md-1">
                                                    <label class="lblDay text-center"><strong>{{wDays.name}}</strong></label><br>
                                                    <label class="lblDate label label-danger" id="lblDay_{{wDays.day}}">{{wDays.date}}</label>
                                                    <input type="hidden" id="from_date_{{wDays.day}}" name="from_date" value="{{from_date}}">
                                                    <input type="hidden" id="to_date_{{wDays.day}}" name="to_date" value="{{to_date}}">
                                                    <input type="hidden" id="day_{{wDays.day}}" name="day" value="{{wDays.name}}">
                                                </div>

                                                <div id="working_{{wDays.day}}" class="working col-md-8">
                                                </div>

                                                <div id="non_working_{{wDays.day}}" class="non-working col-md-2">
                                                    <select id="non_working_leave_{{wDays.day}}" name="non_working_id" class="form-control">
                                                        <option selected value="0">Select</option>
                                                        <option value="1">SL</option>
                                                        <option value="2">CL</option>
                                                        <option value="3">UL</option>
                                                        <option value="4">EL</option>
                                                        <option value="5">Holiday</option>
                                                        <option value="6">Other</option>
                                                    </select>
                                                    <input type="text" name="non_working_hrs" id="hrs_{{wDays.day}}" class="form-control" placeholder="Hrs.">
                                                    <span class="fa fa-pencil-square fa-lg" (click)="openComment(wDays.day)"></span>
                                                    <input type="hidden" name="non_working_cmnt" id="non_working_cmnt_{{wDays.day}}">
                                                </div>
                                                <div class="col-md-1 text-center"> </div>
                                                <div class="col-md-1"><button type="button" id="saveData_{{wDays.day}}" class="btnSave btn btn-success btn-block btn-sm" (click)="saveData(wDays.day)">Save</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <div class="timesheet-create col-sm-12 text-right">
                                    <!-- <div class="input-group "> -->
                                    <!-- <input id="saveData" type="button" class="btn btn-success" value="Save" (click)="saveData()"> -->
                                    <input type="button" class="btn btn-danger" value="Close" data-dismiss="modal">
                                    <!-- </div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>